a {
  text-decoration: none;
}

.single-card {
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  margin: 1%;
}

.room-img {
  width: 70%;
  padding: 1rem 2.3rem;
}

.arrow-icon {
  font-size: 1.5rem;
  margin: 0 0 0 14rem;
}

.card-text {
  font-size: large;
  padding: 0 2rem;
  margin-top: -3.5rem;
}
